body {
    background-color: #9e9e9e;
      display: flex;
  justify-content: center; /* center horizontally */
  align-items: center;    /* center vertically */
  min-height: 100vh;      /* full viewport height */
  margin: 0;
}

.main-body-design {
    background-color: aliceblue;
    border: solid;
    height:1000px;
    width:1400px;
    
    
    
}

