body {
  background-color: #9e9e9e; /* just the page background */
  margin: 0;
  font-family: sans-serif;
}

.headings{
    display: flex;
    justify-content: center;
    font-size: 50px;
}

/* Navigation container at the top */
.flex-navigation-container {
  display: flex;                     
  gap: 20px;
  justify-content: center;                     
  padding: 0;
  background-color: #9e9e9e;     
}

/* Each navigation box */
.flex-navigation-container div {
  background-color: #ffffff;
  width: 100px;
  height: 75px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 18px;
  border: 2px solid #ccc;
  border-radius: 8px;
  cursor: pointer;
}

/* Main body content */
.main-body-design {
  background-color: #ffffff;
  margin: 20px auto;   
  width: 80%;          
  height: 90vh;        
  padding: 20px;
  border-radius: 10px;

}

.test-boxes {
  display: flex;                     
  gap: 20px;
  justify-content: center;                     
  padding: 0;
  background-color: #ffffff;   
}

.test-boxes div {
  background-color: #ffffff;
  flex-grow: 1;
  width: 100px;
  height: 75px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 18px;
  border: 2px solid #ccc;
  border-radius: 8px;
  cursor: pointer;
}

.outliner {
    border: solid;
    font-size: 30px;
    font-family: Arial, Helvetica, sans-serif;
}